@model IEnumerable<AsianPublisher.Models.Order>

@{
    ViewData["Title"] = "Index";
    string myurl = Context.Request.Path + Context.Request.HttpContext.Request.QueryString;
}

<h1>Index</h1>

<p>
    <a href="~/Order/Create?url=@myurl" class="btn btn-success">Create New</a>
    <div>
        <a href="/Order/GenerateExcel" class="btn btn-primary">DOWNLOAD EXCEL</a>
        <span style="margin-right: 20px;">
            </span>
            <a href="/Order/GeneratePdf" class="btn btn-secondary">DOWNLOAD PDF</a>
    </div>
    <br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Country
            </th>
            <th>
                MobileNo
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Status
            </th>
            <th>
                IsDispatch
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.email
                </td>
                <td>
                    @item.address
                </td>
                <td>
                    @item.city
                </td>
                <td>
                    @item.state
                </td>
                <td>
                    @item.country
                </td>
                <td>
                    @item.mobileNo
                </td>
                <td>
                    @item.date
                </td>
                <td>
                    @item.time
                </td>
                <td>
                    @if(item.status == 0)
                    {
                        item.statusN = "Unpaid";
                    }
                    else if (item.status == 1)
                    {
                        item.statusN = "Paid";
                    }
                    else
                    {
                        item.statusN = "Pending";
                    }
                     @item.statusN
                </td>
                <td>   
                    @if (item.isDispatch == 0)
                    {
                        item.isDispatchN = "Shipped";
                    }
                    else if (item.isDispatch == 1)
                    {
                        item.isDispatchN = "Dispatched";
                    }
                    else
                    {
                        item.isDispatchN = "Cancelled";
                    }
                    @item.isDispatchN
                </td>
                @* <td colspan="2">
                    <a href="/OrderMeta/Index?OrderId=@item.id" class="btn btn-info">Detail</a> |
                    @Html.ActionLink("Edit", "Edit", new { id = item.id, url = myurl }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id, url = myurl }, new { @class = "btn btn-danger" })|
                    <a href="DispatchDetail/Create?id=@item.id&url=/DispatchDetail/Index?OrderId=@item.id" class="btn btn-info">Dispatch Detail</a>
                </td> *@
                <td>
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@item.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-@item.id">
                            <a class="dropdown-item" href="~/OrderMeta/Index?OrderId=@item.id">Detail</a>
                            <a class="dropdown-item" href="~/Order/Edit/@item.id?url = @myurl">Edit</a>
                            <a class="dropdown-item" href="~/Order/Delete/@item.id?url = @myurl">Delete</a>
                            <a class="dropdown-item" href="DispatchDetail/Create?id=@item.id&url=/DispatchDetail/Index?OrderId=@item.id">Dispatch Detail</a>
                    </div>
                </div>
            </td>
            </tr>
        }
    </tbody>
</table>
@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownToggles = document.querySelectorAll(".dropdown-toggle");

        dropdownToggles.forEach(function (dropdownToggle) {
            dropdownToggle.addEventListener("click", function (event) {
                var dropdownMenu = event.target.nextElementSibling;

                // Toggle 'show' class to display/hide the dropdown
                dropdownMenu.classList.toggle("show");
            });
        });

        // Add an event listener to hide the dropdown when clicking outside of it
        document.addEventListener("click", function (event) {
            var targetElement = event.target; // clicked element

            dropdownToggles.forEach(function (dropdownToggle) {
                var dropdownMenu = dropdownToggle.nextElementSibling;

                if (!dropdownMenu.contains(targetElement) && !dropdownToggle.contains(targetElement)) {
                    // Remove 'show' class to hide the dropdown
                    dropdownMenu.classList.remove("show");
                }
            });
        });
    });

</script> *@