@model AsianPublisher.Models.Semester

@{
    ViewData["Title"] = "Create";
}
<h4>Create Semester</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Name</label>
            <input name="name" id="name" value="@Model.name" class="form-control" />
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Alias</label>
            <input name="alias" id="alias" value="@Model.alias" class="form-control" />
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Academic Year</label>
            <select name="academicId" id="academicId" class="form-control">
                <option value="">--Select--</option>
                @foreach (var obj in ViewBag.AcademicYears)
                {
                    @if (Model.academicId == obj.id)
                    {
                        <option value="@obj.id" selected>@obj.name</option>
                    }
                    else
                    {
                        <option value="@obj.id">@obj.name</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Semester Category</label>
            <select name="semesterCategoryId" id="semesterCategoryId" class="form-control">
                <option value="">--Select--</option>
                @foreach (var obj in ViewBag.SemesterCategories)
                {
                    @if (Model.semesterCategoryId == obj.id)
                    {
                        <option value="@obj.id" selected>@obj.name</option>
                    }
                    else
                    {
                        <option value="@obj.id">@obj.name</option>
                    }
                }
            </select>
        </div>
        <input name="url" hidden value="@ViewBag.url" />
        <div class="col-lg-4" style="float:left; padding-top:32px;">
            <input type="submit" value="Create" class="btn-sm btn-primary" />
            <a href="@ViewBag.url" class="btn-sm btn-danger">Back to List</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#academicId").select2();
        $("#semesterId").select2();
    });
</script>