@model AsianPublisher.Models.Catalogue

@{
    ViewData["Title"] = "Create";
}
<h4>Create Catalogue</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Course</label>
            <select name="courseId" id="courseId" class="form-control">
                <option value="">--Select--</option>
                @foreach (var obj in ViewBag.Courses)
                {
                    @if (Model.courseId == obj.id)
                    {
                        <option value="@obj.id" selected>@obj.name</option>
                    }
                    else
                    {
                        <option value="@obj.id">@obj.name</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Semester</label>
            <select name="semesterId" id="semesterId" class="form-control">
                <option value="">--Select--</option>
                @foreach (var obj in ViewBag.Semesters)
                {
                    @if (Model.semesterId == obj.id)
                    {
                        <option value="@obj.id" selected>@obj.name</option>
                    }
                    else
                    {
                        <option value="@obj.id">@obj.name</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Book</label>
            <select name="bookId" id="bookId" class="form-control">
                <option value="">--Select--</option>
                @foreach (var obj in ViewBag.Books)
                {
                    @if (Model.bookId == obj.id)
                    {
                        <option value="@obj.id" selected>@obj.iSBN</option>
                    }
                    else
                    {
                        <option value="@obj.id">@obj.iSBN</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Code</label>
            <input name="code" id="code" value="@Model.code" class="form-control" />
        </div>
        <input name="url" hidden value="@ViewBag.url" />
        <div class="col-lg-4" style="float:left; padding-top:32px;">
            <input type="submit" value="Create" class="btn-sm btn-primary" />
            <a href="@ViewBag.url" class="btn-sm btn-danger">Back to List</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#bookId").select2();
        $("#courseId").select2();
        $("#semesterId").select2();
    });
</script>