@model AsianPublisher.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="id" class="form-control" />
                <input hidden asp-for="numId" class="form-control" />
                <input hidden asp-for="idPrefix" class="form-control" />
            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="name" id="name" value="@Model.name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="emailId" id="emailId" value="@Model.email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Subject</label>
                <input name="subject" id="subject" value="@Model.address" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Message</label>
                <input name="message" id="message" value="@Model.message" class="form-control" />
            </div>
            <input name = "url" hidden value = "@ViewBag.url" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@ViewBag.url">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
