@model AsianPublisher.Models.Author

@{
    ViewData["Title"] = "Edit";
}
<h4>Edit Author</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <input hidden asp-for="id" class="form-control" />
        <input hidden asp-for="numId" class="form-control" />
        <input hidden asp-for="idPrefix" class="form-control" />
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Name</label>
            <input name="name" id="name" value="@Model.name" class="form-control" />
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">MobileNo</label>
            <input name="mobileNo" id="mobileNo" value="@Model.mobileNo" class="form-control" />
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">EmailId</label>
            <input name="emailId" id="emailId" value="@Model.emailId" class="form-control" />
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Content</label>
            <textarea name="content" id="content" class="form-control">@Model.content</textarea>
        </div>

        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Content2</label>
            <textarea name="content2" id="content2" class="form-control">@Model.content2</textarea>
        </div>
        <div class="col-lg-4" style="float:left;">
            <label class="control-label">Code</label>
            <textarea name="code" id="code" class="form-control">@Model.code</textarea>
        </div>
        <input name="url" hidden value="@ViewBag.url" />
        <div class="col-lg-4" style="float:left; padding-top:32px;">
            <input type="submit" value="Save" class="btn-sm btn-primary" />
            <a href="@ViewBag.url" class="btn-sm btn-danger">Back to List</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}