@model IEnumerable<AsianPublisher.Models.Author>
@{
    ViewData["Title"] = "Index";
    string myurl = Context.Request.Path + Context.Request.HttpContext.Request.QueryString;
}
<div class="col-lg-7" style="float:left;">
    <h4>Author List</h4>
</div>
<div class="col-lg-5" style="float:left;">
    <a href="~/Author/Create?url=@myurl" class="btn-sm btn-success">Create New</a>
    <a href="/Author/GenerateExcel" class="btn-sm btn-primary">Excel</a>
    <a href="/Author/GeneratePdf" class="btn-sm btn-secondary">PDF</a>
</div>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                MobileNo
            </th>
            <th>
                EmailId
            </th>
            <th>
                Code
            </th>
            @* <th>
            Content
            </th>
            <th>
            Content2
            </th> *@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.mobileNo
                </td>
                <td>
                    @item.emailId
                </td>
                <td>
                    @item.code
                </td>
                @* <td>
            @item.content
            </td>
            <td>
            @item.content2
            </td> *@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id, url = myurl }, new { @class = "btn-sm btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id, url = myurl }, new { @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>