@model AsianPublisher.Models.Order

@{
    ViewData["Title"] = "Create";
    //string myurl = Context.Request.Path + Context.Request.HttpContext.Request.QueryString;
}

<h4>Update Dispatch Detail</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="id" class="form-control" />
        <input hidden asp-for="numId" class="form-control" />
        <input hidden asp-for="idPrefix" class="form-control" />
        <div class="col-lg-3" style="float:left;">
            <label class="control-label">Courier Name</label>
            <input name="courierName" id="courierName" value="@Model.courierName" class="form-control" />
        </div>
        <div class="col-lg-3" style="float:left;">
            <label class="control-label">Docket Number</label>
            <input name="docketNo" id="docketNo" value="@Model.docketNo" class="form-control" />
        </div>
        <div class="col-lg-3" style="float:left;">
            <label class="control-label">Dispatch Date</label>
            <input name="docketDate" type="date" id="docketDate" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required class="form-control" />
        </div>
        <input name="url" hidden value="@ViewBag.url" />
        <div class="col-lg-3" style="float:left; padding-top:32px;">
            <input type="submit" value="Create" class="btn-sm btn-primary" />
            <a href="@ViewBag.url" class="btn-sm btn-danger">Back to List</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text / javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text / javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script type="text / javascript">
    $(function() {
    $("#orderId").select2();
    });
</script>
